#obd-track {
    width: 100vw;
    height: 2px;
    background: rgba(0, 210, 211, 0.1);
    position: relative;
    display: flex;
    align-items: center;
}

#feather {
    width: 35px;
    height: 35px;
    background: var(--teal);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--teal);
    position: absolute;
}

.sweep-standard {
    animation: sweep 2s infinite alternate cubic-bezier(0.45, 0, 0.55, 1);
}

.sweep-saccadic {
    animation: sweep 1.1s infinite alternate steps(20); /* Steps make it "jittery" for higher friction */
}

@keyframes sweep {
    from { left: 5%; }
    to { left: 95%; }
}
